
@font-face {
  font-family: "Typefesse";
  src: url("../fonts/Typefesse_Claire-Obscure.woff") format("woff"),
       url("../fonts/Typefesse_Claire-Obscure.woff2") format("woff2"),
       url("../fonts/Typefesse_Claire-Obscure.eot") format("eot");
}

body {
  background-color: lightpink;
  font-family: IBM Plex Mono;
}
p.thick {
  font-weight: bold;
}

h1 {
  font-size: 80px;
  font-family: "Typefesse", futura;
  font-weight: bold;
  font-kerning: 100px;
  color: darkorange; 
}

h2{
	font-size: 10px
}
h3{
	font-size: 20px
}
