
@font-face {
  font-family: "Kernit-Outline";
  src: url("/fonts/Kernit-Outline.woff") format("woff"),
       url("/fonts/Kernit-Outline.eot") format("eot");

  font-family: "IBM Plex Mono";
  src: url("/fonts/IBMPlexMono-Regular.ttf") format("tff"),
}

body {
  background-color: lightpink;
  font-family: IBM Plex Mono;
}
p.thick {
  font-weight: bold;
}

h1 {
  font-size: 80px;
  font-family: Kernit-Outline;
  font-weight: bold;
  font-kerning: 100px;
  color: darkorange; 
}

h2{
	font-size: 10px
}
h3{
	font-size: 20px
}
