
@font-face {
  font-family: "Typefesse";
  src: url("../fonts/Typefesse_Claire-Obscure.woff") format("woff"),
       url("../fonts/Typefesse_Claire-Obscure.woff2") format("woff2"),
       url("../fonts/Typefesse_Claire-Obscure.eot") format("eot");

}

body {
  background-color: lightpink;
  font-family: "Andale Mono";
  color: blueviolet;
}
p.thick {
  font-weight: bold;
}

h1 {
  font-size: 100px;
  font-family: "Typefesse", futura;
  font-weight: bold;
  font-kerning: 100px;
  color: darkorange; 
}

h2{
	font-size: 10px
}
h3{
	font-size: 20px
}

body.darkmode {
  background: black;
  color: white;
  /*  redefine a CSS variable */
  --accent-color: rgb(0,255,0);
  animation: wheel 1s ease-in-out infinite; 
}

body.darkmode button{
  color: white;
  font-family: times;
}

@keyframes wheel {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
