body {
  background-color: coral;
  background-repeat: no-repeat;
  font-family: Andale Mono;
  background-image: url('../img/world.svg');
  background-position-y: 220px;
  background-repeat: no-repeat;
  background-size: 1700px 1000px;
}
p.thick {
  font-weight: bold;
}
h1 {
  font-size: 100px;
  font-family: Andale Mono;
  font-weight: bold;
  font-kerning: 100px;
  color: rgb(0,0,255);
  color: linear-gradient(90deg, rgba(0,0,255,1) 0%, rgba(0,212,255,1) 100%);
}
h2{
	font-size: 15px;
  color: lightgoldenrodyellow;
}
h3{
	font-size: 20px
}

#world {
  border: 1px dashed yellow;
  width: 1800px;
  height: 1000px;
  background-image: url('../img/world.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

#grid {
  left: 170px;
  width: 1200px;
  height: 1000px;
  margin: 40px auto;
  border: 0px solid blue;
  position: absolute;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
}

.item {
  border: 0px solid red;
  display: inline-block;
  width: 140px
  height: 200px;
  background-size: cover;
}

.item:hover, 
.item:focus {
    filter: invert(80%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%) opacity(40%);
    transition: all 1s ease;
    transform: scale(1.2);
}

#five: <link rel="stylesheet" type="text/css" href="css/area-51.css">
}

#one:hover {
  content: "37.2431° N, 115.7930° W";

}