* {
    margin: 20px;
    padding: 0px;
}

body{
    background-color: lightgreen;
}

.bounding-box{
    position: relative;
    width: 450px;
    height: 600px;
    background: lightgreen;
    margin: 20px;
}

.vertical-stroke {
    width: 50px;
    height: 400px;
    display: block;
    position: absolute;
    top: 70px;
    left: 20px;
    background: black;
}

.horizontal-stroke {
    width: 200px;
    height: 50px;
    background: black;

    position: absolute;
    top: 50px;
    left: 20px;
}

.middle {
    width: 200px;
    height: 25px;
    top: 200px;
}

.right {
    left: 200;
}

.segment {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0px;
    background-color: rgb(255, 0, 0);

}

.segment.blank {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0px;
    background: none;
}

.insideleftcorner{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0px;
    background-image: radial-gradient(farthest-side at 100% 100%, rgba(255,0,0,0), rgba(255,0,0,1));
}

.insiderightcorner{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0px;
    background-image: radial-gradient(farthest-side at 0% 100%, rgba(255,0,0,0), rgba(255,0,0,1));
}

.lineargradientR{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

.lineargradientL{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0px;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1));
}

.roundtopleft{
    border-top-left-radius: 100px
}
.roundtopleft:hover {
    border-radius: 100px;
    background: orange
}

.roundtopright{
    border-top-right-radius: 180px
}
.roundtopright:hover {
    border-radius: 100px;
    background: orange
}

.roundbottomleft{
    border-bottom-left-radius: 180px
}

.roundbottomright{
    border-bottom-right-radius: 180px
}

.round:hover {
    border-radius: 100px;
    background: orange
 }
.bounding-box{
    position: relative;
    width: 450px;
    height: 1050px;
    background: lightgreen;
    margin: 0px;
}

}


