* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightgreen;
}

.bounding-box{
    position: relative;
    width: 480px;
    height: 480px;
    background: lightgreen;
    margin: 20px;
}

.vertical-rect {
    width: 160px;
    height: 400px;
    display: block;
    position: absolute;
    top: 70px;
    left: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: black;
}

.oval {
    width: 80px;
    height: 160px;
    background: lightgreen;
    position: absolute;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    top: 0px;
    left: 0px;
}

.top{
    top: 115px;
    left: 58px;
}

.bottom{
    top: 311px;
    left: 58px;
}

.circle{
    background: lightgreen;
    border-radius: 50%;
    position: absolute;
    width: 80px;
    height: 80px;
}

.middle {
    width: 80px;
    height: 20px;
    top: 200px;
}

#right {
    top: 435px;
    left: 20px;
}

#left {
    top: 435px;
    left: 100px;
}


