* {
    margin: 120px;
    padding: 0px;
    border: 0px solid red;
}

body{
    background-color: lightgreen;
}
@font-face {
    font-family: Rawgly
    src: url(Rawgly.otf);
}

h1 {
  font-size: 200px;
  font-family: Rawgly;
  font-weight: bold;
  font-kerning: 100px;
  color: black; 
}

h2 {
  font-size: 100px;
  font-family: Rawgly;
  font-weight: bold;
  font-kerning: 100px;
  color: darkorange; 
}

h3 {
  font-size: 180px;
  font-family: Rawgly;
  font-weight: bold;
  font-kerning: 100px;
  color: solid red; 
}

.container {
  /* working one */
  cursor: "comet.png"; 
}

.abc-bounding-box{
    width: 1800px;
    height: 600px;
    margin: auto;
    overflow: hidden;
    position: relative;
    display: block;
}

.bounding-box{
    width: 597px;
    height: 700px;
    margin: auto;
    overflow: visible;
    position: relative;
    display: inline-block;
}

.svg-bounding-box{
    width: 1836px;
    margin: auto;
    padding: 50px;
    overflow: hidden;
    position: relative;
    display: block;
    background: solid red;
}

#a{

}

#b{

}

#c{

}

.vertical-rect {
    width: 160px;
    height: 500px;
    display: block;
    position: absolute;
    top: 70px;
    left: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: black;
}

#b-rect {
    width: 160px;
    height: 400px;
    top: 100px;
    left: 600px;
}

.oval {
    width: 80px;
    height: 160px;
    background: lightgreen;
    position: absolute;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    top: 0px;
    left: 0px;
}

.a-oval-top {
    width: 80px;
    height: 160px;
    background: lightgreen;
    position: absolute;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    top: 115px;
    left: 58px;
}
.a-oval-bottom {
    width: 80px;
    height: 160px;
    background: lightgreen;
    position: absolute;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    top: 311px;
    left: 58px;
}

.top{
    top: 115px;
    left: 58px;
}

.bottom{
    top: 311px;
    left: 58px;
}

.bottom-b-oval{
    top: 311px;
    left: 58px;
    width: 80px;
    height: 120px;
    background: lightgreen;
    position: absolute;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.top-b-oval{
    top: 115px;
    left: 58px;
    width: 80px;
    height: 160px;
    background: lightgreen;
    position: absolute;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.c-oval{
    top: 113px;
    left: 58px;
    width: 80px;
    height: 311px;
    background: lightgreen;
    position: absolute;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.circle{
    background: lightgreen;
    border-radius: 50%;
    position: absolute;
    width: 80px;
    height: 80px;
}


.middle {
    width: 80px;
    height: 20px;
    top: 200px;
}

#right {
    top: 435px;
    left: 20px;
}

#right-b {
    top: 435px;
    left: -20px;
}

#right-c {
    top: 435px;
    left: -20px;
}

#left {
    top: 435px;
    left: 100px;
}

#left-b {
    top: 435px;
    left: 135px;
}

#left-c {
    top: 435px;
    left: 135px;
}

#mid-c{
    top: 240px;
    left: 120px;
}

.bounding-box:hover .circle{ 
    transform: translateY(100px);
    height: 150px;
    transition: all 500ms ease;
    }

.bounding-box:hover .a-oval-bottom{ 
    transform: scaleY(3.3);
    transition: all 500ms ease;
    }

.bounding-box:hover .top-b-oval{ 
    transform: scaleY(0);
    transition: all 700ms ease;
    position: absolute;
    height: 400px;
    }

.bounding-box:hover .bottom-b-oval{
    height: 320px;
    transform: translateY(-200px);
    transition: all 700ms ease;
}

.bounding-box:hover .c-oval{
    height: 400px;
    transition: all 700ms ease;
}

.bounding-box:hover #mid-c{
    transform: translateX(80px);
    height: 400px;
    transition: all 700ms ease;
}

.vertical-rect:hover { 
    transition: background-image 1s linear;
    background: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
    }

.svg {
    display: inline-block;
    width: 140px
    height: 200px;
    background-size: cover;
    }
.svg:hover,
.svg:focus {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

#A:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#B:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#C:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#D:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#E:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#F:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#G:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#H:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#I:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#J:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#K:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#L:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#M:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#N:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#O:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#P:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#Q:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#R:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#S:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#T:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#U:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#V:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#W:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#X:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#Y:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}

#Z:hover {
    transform: scale(1.2);
    transition: all 700ms ease;
    filter: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(30, 100%, 50%));
}


/*.svg-bounding-box:hover {
    transition: background-image 1s linear;
    background: linear-gradient(to bottom, hsl(350, 90%, 50%),hsl(0, 100%, 20%));
    }
